@charset "utf-8";

body {
    background-color: #dee2ff;
}

header {
    background-color: #afc8ff;
    padding: 2px 5px;
    margin: 0% 680px;
    border-radius: 10px;
}



.font1 {
    font-size: 20px;
    font-family: "Meiryo";
}

.font2 {
    font-size: 14px;
    font-family: "Meiryo";
}

main {
    padding: 2px 5px;
    margin: 0% 480px;
    border-radius: 2px;
    background-color: #e6f0ff;
}



.tr_separate {
  height: 20px;
  color: #ffffff;
  font-size: 16px;
  text-shadow: 2px 2px 2px #444444;
  background-color: #aaaaaa;
}

.tr_normal {
  background-color: #eeeeee;
}



.left_menu {
 position:relative;
 top:0px;
}
.main_text {
 position:relative;
 bottom:125px;
 left:245px;
}


