@charset "utf-8";

body {
    background-color: #dee2ff;
}

header {
    background-color: #afc8ff;
    width: 500px;
    height: 70px;
    border-radius: 10px;
    margin: auto;
}



.font1 {
    font-size: 20px;
    font-family: "Meiryo";
}

.font2 {
    font-size: 14px;
    font-family: "Meiryo";
}

main {
    background-color: #e6f0ff;
    width: 1050px;
    height: flex-end;
    border-radius: 2px;
    margin: auto;

}



.tr_separate {
  height: 20px;
  color: #ffffff;
  font-size: 16px;
  text-shadow: 2px 2px 2px #444444;
  background-color: #aaaaaa;
}

.tr_normal {
  background-color: #eeeeee;
}



.left_menu {
 position:relative;
 top:0px;
}
.main_text {
 position:relative;
 bottom:150px;
 left:240px;
}


